.git
.github
.npmrc
.netrc
.cargo/credentials
.cargo/credentials.toml
.mise.toml
.pytest_cache
.ruff_cache
.venv
**/__pycache__
**/*.py[cod]
**/.DS_Store
**/dist
**/node_modules
benchmarks
docs
models
tests
openapi
pip.conf
pip.ini
